:root {
    --primary-background: #190422;
    --primary-font-color:  #fff;
    --secondary-font-color:  #000000;
    --primary-button-background: #BC8AFC;
    --secondary-background: #fff;
    --third-font-color: #1F262E;
}

* {
    margin: 0;
    padding: 0;
}

header {

    background-color: var(--primary-background);
    width: 100%;

    & div {
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img {
            width: 167px;
            height: 96px;
        }

        & nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 59px;

            & p {
                font: 400 20px Poppins;
                color: var(--primary-font-color);
            }

            & button {
                width: 132px;
                height: 58px;
                border-radius: 7px;
                background-color: var(--primary-button-background);
                font: 500 22px Poppins;
                color: var(--secondary-font-color);
                border-width: 0;
                box-shadow: 10px 7px 9px 0px #00000040;
            }
        }

        & .burger-menu {
            width: 50px;
            height: 50px;
            display: none;
        }
    }
}

.preview {
    background-color: var(--primary-background);
    width: 100%;

    & .contener {
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 94px;
        padding-top: 117px;
        padding-bottom: 195px;

        & div {
            display: flex;
            flex-direction: column;
            gap: 32px;

            & h1 {
                font: 600 80px Poppins;
                line-height: 120%;
                color: var(--primary-font-color);
            }

            & p {
                font: 400 20px Poppins;
                line-height: 158%;
                color: var(--primary-font-color);
            }

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                width: 212px;
                height: 58px;
                border-radius: 7px;
                background-color: var(--primary-button-background);
                border-width: 0;

                & p {
                    font: 500 22px Poppins;
                    color: var(--secondary-font-color);
                }
            }
        }

        & .img-card {
            max-width: 555px;
            max-height: 581px;
            width: 100%;
            height: 100%;
        }
    }
}

.about {
    background-color: var(--secondary-background);
    width: 100%;
    position: relative;

    & .contener {
        max-width: 1280px;
        margin: auto;
        display: flex;
        gap: 127px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 258px;
        padding-bottom: 107px;

        & .img {
            max-width: 413px;
            max-height: 609px;
            width: 100%;
            height: 100%;
            border: 8px solid #FFFFFF;
            border-radius: 11px;
        }

        & .info {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & .text {
                font: 600 48px Poppins;
                line-height: 123%;
                color: var(--secondary-font-color);
            }

            & p {
                font: 400 20px Poppins;
                line-height: 158%;
                color: var(--secondary-font-color);
            }

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                width: 212px;
                height: 58px;
                border-radius: 7px;
                background-color: var(--primary-button-background);
                border-width: 0;

                & p {
                    font: 500 22px Poppins;
                    color: var(--secondary-font-color);
                }
            }
        }
    }
}

.about .statistic {
    max-width: 1280px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -100px;
    left: 0;
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    & p:first-child {
        font: 600 48px Poppins;
    }

    & p:last-child {
        font: 400 20px Poppins;
    }

    & p span {
        color: #BC8AFC;
    }
}

.service {
    background-color: var(--secondary-background);
    width: 100%;

    & .content {
        max-width: 1280px;
        margin: auto;
        padding-top: 81px;
        padding-bottom: 216px;

        & h2 {
            font: 600 48px Poppins;
            line-height: 158%;
            margin-bottom: 40px;
        }

        & .contener-grid {
            display: grid;
            grid-template-columns: 477px 477px;
            grid-template-rows: 257px 257px;
            column-gap: 173px;
            row-gap: 40px;

            & div {
                display: flex;
                flex-direction: column;
                gap: 12px;

                & img {
                    width: 80px;
                    height: 80px;
                }

                & h5 {
                    font: 600 20px Poppins;
                    line-height: 158%;
                    color: var(--third-font-color);
                }

                & p {
                    font: 400 20px Poppins;
                    line-height: 158%;
                    color: var(--secondary-font-color);
                }
            }
        }
    }
}

footer {
    background-color: var(--primary-background);
    width: 100%;

    & .contener {
        max-width: 1280px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 41px;
        justify-content: center;
        align-items: start;
        padding-top: 80px;
        padding-bottom: 71px;

        & nav {
            display: flex;
            gap: 33px;

            & p {
                font: 400 20px Poppins;
                color: var(--primary-font-color);
            }
        }

        & div {
            display: flex;
            gap: 21px;
        }
    }
}

@media (max-width: 1100px) {
    header div {
        & nav {
            display: none;
        }

        & .burger-menu {
            display: block;
        }
    }

    .preview .contener {
        justify-content: center;

        & .img-card {
            display: none;
        }

        & div {
            max-width: 780px;
            align-items: center;
            text-align: center;
        }
    }

    .service .content .contener-grid {
        grid-template-columns: 365px 365px;
    }
}

@media (max-width: 1050px) {
    .about .contener {
        gap: 71px;
    }
}

@media (max-width: 900px) {
    .service .content .contener-grid {
        column-gap: 20px;
    }
}

@media (max-width: 800px) {
    header div img {
        width: 105px;
        height: 50px;
    }

    .preview .contener div {
        max-width: 574px;

        & h1 {
            font-size: 48px;
        }
    }

    .about .contener {
        padding-top: 184px;
        padding-bottom: 76px;

        & .info .text {
            font-size: 32px;
        }

        & .img {
            max-width: 252px;
            max-height: 371px;
        }

        .statistic {
            max-height: 170px;
            height: 100%;

            & p:first-child {
                font-size: 40px;
            }
        }
    }

    footer .contener {
        gap: 62px;

        & .logo {
            width: 105px;
            height: 50px;
        }

        & nav {
            flex-direction: column;
        }
    }
}

@media (max-width: 750px) {
    .service .content {
        padding-top: 31px;
        padding-bottom: 32px;

        & .contener-grid {
            grid-template-columns: 355px;

        }
    }
}

@media (max-width: 580px) {
    .about .contener {
        flex-direction: column;
        padding-top: 357px;

        & .info .text {
            font-size: 36px;
        }
    }

    .about .contener .statistic {
        flex-direction: column;
        max-height: 434px;
    }

    footer .contener {
        padding: 32px 0;
        gap: 32px;

        & nav {
            gap: 40px;
        }
    }
}